
body{
  background-color: #6495ED; /*CornflowerBlue*/
  background-position: center;
  font-family: 'verdana', Sans-serif;
  font-size: 22px;
  text-align: center;
  width: auto;
  padding: 0px;
  margin: 0 auto;
  text-decoration: none;
}

h1 {
  background-color:	#B0E0E6; /*PowderBlue*/
  color: #FF0000; 
  font-size: 3em;
}

#first h2{
  color: 	#A52A2A; /*BROWN*/
  font-size: 2em;
}

#email{
  
 color: #483D8B;/*DARKSLATEBLUE*/
 font-size: 1.5em;
 width: auto;
 height: auto;
 border: 1px solid black;
 box-sizing: border-box;
}

#phoneNum p{
  color: #8B008B; /*DARK MAGENTA*/
  font-size: 1.5em;
  
}

#DOB label{
  color: 	#DC143C; /*CRIMSON*/
  font-size: 1.5em;
  
}

.resize email{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 2px;
  box-sizing: border-box;
}