
body{
  background-color: #6495ED; /*CornflowerBlue*/
  background-position: center;
  font-family: 'verdana', Sans-serif;
  font-size: 22px;
  text-align: center;
  width: auto;
  padding: 0px;
  margin: 0 auto;
  text-decoration: none;
  position: relative;
  /*background-image: url("image/backy.jpg");*/
}

h1 {
  background-color:	#B0E0E6; /*PowderBlue*/
  color: #FF0000; 
  font-size: 3em;
}

fieldset{
 /*max-width: 60%;*/
 border-color: black;
 /*border: 1px solid rgb(255,232,57);*/
 width: 400px;
 float: center;
 margin: 0 auto;
}

form{
  text-align: center;
}
input{
  max-width: 100%;
}

label{
  display: block;
}
#email {
  color: #A52A2A;
  font-size: 1em;
  width: 50%;
  height: auto;
  /*border: 2px solid black;*/
  display: inline-block;
}

#phoneNum {
  color: #8B008B;
  font-size: 1em;
  width: 50%;
  height: auto;
 /* border: 2px solid yellow;*/
  display: inline-block;
  
}

#DOB {
  color: #DC143C;
  font-size: 1em;
  width: 50%;
  height: auto;
  /*border: 2px solid purple;*/
  display: inline-block;
  
}

button{
  padding: 20px 40px 19px 40px;
  color: #DEB887; /*BurlyWood*/
  background-color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  /*width: 100%;*/
  border: 1px solid pink; 
  border-width: 1.5 px 1.5px 2px;
  margin-bottom: 8px;
  
}

@media only screen and (max-width: 480px){
  form{
    max-width: 480px;
  }
}

